.square {
  background: rgba(216, 255, 207, 0.6);
  background-blend-mode: exclusion;
  background-image: var(--noise-pattern);
  border: 1px solid rgba(5, 143, 0, 0.8);
  font-size: 15vmin;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  box-shadow: inset 0 0 0 rgba(9, 255, 0, 0.267);
  text-shadow: -1px -1px 1px rgba(0, 148, 0, 0.733), -1px 1px 1px #000b, 1px -1px 1px #000b, 1px 1px 1px #000b;
  transition: all .25s ease;
  outline: none;
}

.square.winner {
  background: rgba(0, 122, 6, 0.333);
}

.square:not([disabled]):empty:hover,
.square:not([disabled]):empty:focus {
  box-shadow: inset 0 2px 25px #0006;
  cursor: pointer;
}

.square:not([disabled]):empty:active {
  box-shadow: inset 0 2px 50px #0008;
}

.square.X {
  color: #e00000;
}

.square.O {
  color: #ffeb3b;
}
